<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idv.xrloong.qiangheng.tools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
        android:name=".QHToolApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.ItemListActivity"
            android:label="@string/title_item_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FragmentActivity"
            android:label="@string/app_name" >
        </activity>

        <provider
            android:name=".provider.NamingStrokeProvider"
            android:exported="false"
            android:authorities="idv.xrloong.qiangheng.tools.NamingStroke" />

        <provider
            android:name=".provider.FindCommonComponentProvider"
            android:exported="false"
            android:authorities="idv.xrloong.qiangheng.tools.FindCommonComponent" />
        <provider
            android:name=".provider.ExtentionBProvider"
            android:exported="false"
            android:authorities="idv.xrloong.qiangheng.tools.DecomposingExtentionB" />
        </application>

</manifest>
